.font{
    font-family: 'Roboto Condensed', sans-serif;
}

.font-large{
    font-size:48px;
}

.font-xxlg{
    font-size:32px;
}

.font-xlg{
    font-size:28px;
}

.font-lg{
    font-size:24px;
}

.font-slg{
    font-size:20px;
}

.font-md{
    font-size:18px;
}

.font-smd{
    font-size:16px;
}

.font-bold{
    font-weight:500;
}

.font-bold-600{
    font-weight:600;
}

.font-white{
    color:#ffffff;
}

.font-black{
    color:black;
}

.font-black-light{
    color:#777777;
}

.font-logo-color{
    color:#510833;
}

.font-justify{
    text-align:justify;
}

.big-fat-line{
    line-height:50px;
}

.fat-line{
    line-height:40px;
}

.thin-line{
    line-height:30px;
}